<!doctype html>
<meta charset="utf-8">
<title>{% block title %}Welcome{% endblock %} — Hello World</title>
<body>
  <header>
    <h1>Hello World</h1>
    <p><em>{{ config.PROJECT.description }}</em></p>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; Copyright 2021 by {{ config.PROJECT.author }}.
  </footer>
</body>
